* {
    /* border: solid red 1px; */
}
body {
    margin: 0px;
    margin-top: 175px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 0px;
    padding-top: 15px;
    background-color: white;
    /* text-align: center; */
    border: solid black 1.5px;
}
.container {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 75px;
    padding: 5px;
    padding-top: 0px;
}
.sign-in {
    padding: 0px;
    margin: 0px;
}
h1 {
    margin: 0px;
    padding: 0px;
}
.email {
    margin: 0px;
    padding: 0px;
    justify-items: center;
}
h6 {
    margin: 3px;
}

input[type=text1] {

}
input[type=text] {
    padding-left: 10px;
    padding-right: 10px;
    border: solid black;
    border-width: 1px;
}

.button1 {
    /* align-items: center;
    text-align: center;
    justify-content: center; */
}

button1 {
    background-color: rgb(255, 204, 64);
    border: solid black 1px;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.password {
    justify-content: left;
}
h4 {
    text-align: center;
}
button2 {
    background-color: rgb(182, 173, 173);
    border: solid black 1px;
}
.extras {
    margin-top: -75px;
    text-align: center;
}    
.links {
    text-align: center;
    justify-content: space-evenly;
}
.copyright {
    text-align: center;
}